<div>
  <section class="banner-section">
    <div class="container banner-grid">
      <img class="banner-img" src="../assets/images/banner.svg" alt="Banner" />
      <div class="text-div">
        <h1>Angular To Do</h1>
        <p>
          This is a basic stateless ToDo app made with Angular JS, HTML CSS &
          Bootstrap. This was made for angular practice purpose. You can add
          task, check them as finished and delete tasks on demand.
        </p>
        <input
          type="text"
          placeholder="Enter a task ..."
          [(ngModel)]="todoTask"
          (keyup.enter)="addTask()"
        />
        <button class="button" (click)="addTask()">Add Task</button>
      </div>
    </div>
  </section>

  <section class="todo-section">
    <div class="container tasks-grid">
      <div class="todo-div">
        <h3 *ngIf="getTotalTodo() > 0">Task to Do</h3>
        <ul>
          <div *ngFor="let item of todoList">
            <li *ngIf="item.isDone == false">
              <input
                type="checkbox"
                name="isDone"
                (click)="checkTask(item.id)"
              />
              <p>{{ item.task }}</p>
              <button (click)="deleteTask(item.id)">Delete</button>
            </li>
          </div>
        </ul>
      </div>
      <div class="finished-div">
        <h3 *ngIf="getTotalFinished() > 0">Task Finished</h3>
        <ul>
          <div *ngFor="let item of todoList">
            <li *ngIf="item.isDone == true">
              <p>{{ item.task }}</p>
              <button (click)="deleteTask(item.id)">Delete</button>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </section>
</div>
